<!DOCTYPE html>
<html lang="ko">
<th:block th:replace="/fragments/head :: headFragment"></th:block>
<body>
<header>게시판 - 보기</header>
<main th:object="${postView}" class="flex-container flex-container--column">
    <div class="flex-container">
        <div th:text="*{writer}">작성자</div>
        <div th:text="${#temporals.format(postView.writeDt,'yyyy-MM-dd HH:mm:ss')}">등록일시</div>
        <div th:text="${#temporals.format(postView.updateDt,'yyyy-MM-dd HH:mm:ss')}">수정일시</div>
    </div>

    <div class="flex-container">
        <div th:text="*{title}">title</div>
        <div th:text="*{viewCount}">조회수</div>
    </div>
    <div>
        <pre th:text="*{postContent}">
            내용
        </pre>
    </div>
    <div>
        첨부파일
    </div>
    <div>
        댓글
    </div>
</main>
<footer>
    <button>목록</button>
    <button th:attr="onclick=|moveConfirmPage('update','${postView.postId}')|">수정</button>
    <button th:attr="onclick=|moveConfirmPage('delete','${postView.postId}')|">삭제</button>
</footer>
<script>
    const moveConfirmPage = (path, param)=>{
        location.href = `/passConfirm/${path}/${param}`;
    }
</script>
</body>
</html>