<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.board.repository.PostRepository">
    <select id="selectBoardViewList" resultType="BoardItemVO" parameterType="PostSearchForm">
        select
        po.post_id
        , ca.category_name
        , (select count(*) from file_info fi
        where fi.post_id = po.post_id)    as file_count
        , po.title
        , po.post_content
        , po.writer
        , po.write_dt
        , po.update_dt
        from post_info po
        inner join
        category_info ca
        on (po.category_id = ca.category_id)
        <where>
            <if test="postId != null and postId >0">
                po.post_id = #{postId}
            </if>
            <if test="fromDt != null">
                and po.write_dt <![CDATA[>=]]>
                #{fromDt}
                and po.write_dt <![CDATA[<=]]>
                #{toDt}
            </if>
            <if test="categoryId != null and categoryId >0">
                and po.category_id = #{categoryId}
            </if>
            <if test="searchMessage != null and searchMessage != ''">
                and po.title like concat('%',#{searchMessage},'%')
                or po.post_content like concat('%',#{searchMessage},'%')
                or po.writer like concat('%',#{searchMessage},'%')
            </if>
        </where>
        order by po.write_dt desc
        <if test="start != null">
            `limit` ${start}, 10;
        </if>
    </select>
    <select id="selectPostOne" resultType="PostViewVO" parameterType="int">
        select
             po.post_id
             , ca.category_name
             , (select count(*)
                from file_info fi
                where fi.post_id = po.post_id) as file_count
             , po.title
             , po.post_content
             , po.writer
             , po.write_dt
             , po.update_dt
        from post_info po
                 inner join
             category_info ca
             on (po.category_id = ca.category_id)
        where po.post_id = #{postId}
    </select>
    <select id="selectPostCount" resultType="int" parameterType="PostSearchForm">
        select
            count(po.post_id) as post_count
        from post_info po
        <where>
            <if test="fromDt != null">
                po.write_dt <![CDATA[>=]]> #{fromDt}
            </if>
            <if test="toDt != null">
                and po.write_dt <![CDATA[<=]]> #{toDt}
            </if>
            <if test="categoryId != null and categoryId >0">
                and po.category_id = #{categoryId}
            </if>
            <if test="searchMessage != null and searchMessage != ''">
                and po.title like concat('%',#{searchMessage},'%')
                or po.post_content like concat('%',#{searchMessage},'%')
                or po.writer like concat('%',#{searchMessage},'%')
            </if>
        </where>
    </select>
    <insert id="insertPost" parameterType="PostCreateForm" useGeneratedKeys="true" keyProperty="postId" keyColumn="post_id">
        insert into post_info
            (category_id, title, post_content, writer, password)
          values
            (#{categoryId},#{title},#{postContent},#{writer},#{password})
    </insert>
    <select id="selectLastInsertKey" resultType="int">
            select LAST_INSERT_ID()
    </select>
</mapper>